// Color Settings
//=====================================*/
// Brand Colors
$highlight: #a00;

// Grayscale
$dark-gray:#333;
$gray:#999;
$light-gray: #cfcfcf;
$lighter-gray: #efefef;
$white: #fff;

// Type Settings
//=====================================*/

$sans-stack: sans-serif;
$serif-stack: serif;

// The base font size
$base-font-size: 20px;

// Base line height
$base-line-height: 30px;